<body>

<H1> Bienvenido a la web de // Introduce aquí tu nombre a través de una variable en el playbook // </H1>

Esta web se está ejecutando desde una máquina //Añade aquí la versión del sistema operativo usado (usa una variable del fact)


</body> 
